# ----------------------------
# OS & System Files
# ----------------------------
# macOS
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# ----------------------------
# Build / Output folders
# ----------------------------
bin
sim_results

# ----------------------------
# IDE / Editor Settings
# ----------------------------
# Eclipse
.settings
.classpath
.project

# IntelliJ IDEA
.idea
*.iml
out
gen

# VS Code
.vscode/

# ----------------------------
# Python Specific
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs / temp files
*.log
*.tmp
*.bak

/scripts/output/
misc/

# ----------------------------
# Generated DAG workload configs / device variants
# ----------------------------
scripts/dag_app/config/DAG_APP_*_1K_*_*.properties
scripts/dag_app/config/edge_ai_devices_*_hetero.xml
scripts/dag_app/config/edge_ai_devices_edge_excess.xml
scripts/dag_app/config/workload_matrix.csv


synthetic_dags_100k_container.json
synthetic_dags_10k_container.json
synthetic_dags_25k_container.json
